.border-class {
    margin: 0.5rem;
    display: inline-block;
    border: 1px solid black;
}

.black {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-color: black;
}

.white {
    height: 80px;
    width: 80px;
    display: inline-block;
    background-color: white;
    color: white;
}
